---
layout: home
main-title: "Life&#8226;Is&#8226;Journey"
subtitle: "Where is the end"
description: "Worthless efforts gradually set their mark on the face, especially the eyes"
images:
 - image_path: /img/slider/home000.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/home01.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/home02.png
   gallery-folder: /img/slider/
 - image_path: /img/slider/home03.jpeg
   gallery-folder: /img/slider/
---


<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

<!-- CSS -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />



	<!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>



  

</head>

<body class="fullscreen">

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
{% for image in page.images %}  	

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
	
				</header>	
				</figure>

{% endfor %}

				</div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

        {% if site.github_username %}
                <li>
   <a href="https://github.com/NLGithubWP/tech-notebook" style="
color:#dddddd; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}

		</ul>	
	</div>

  
<!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="{{ site.baseurl }}/js/retina.min.js"></script> 

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>


       </body>
    </html>

